{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint"],
    "rules": { 
      "max-len": ["warn", { "code": 250 }]
    },
    "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:react/recommended",   "plugin:react-hooks/recommended"]
  }